/*  Specification  */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	font-size: 17px;
	font-weight: 500;
	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	letter-spacing: 0.02em;
}

h2 {
	font-size: 40px;
	padding-top: 130px;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

ul, li {
	padding: 0;
	margin: 0;
	display: block;
}

a {
	text-decoration: none;
	color: #000;
}

img {
	display: block;
	object-fit: cover;
}


button, input {
	font-family: 'Raleway', sans-serif;
	outline: 0;
	border: 0;
}

* {
	box-sizing: border-box;
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.btn {
	padding: 22px 50px;
	font-weight: 400;
	line-height: 1.4;
	transition: all 0.5s ease; 
}


/* Header */

.header {
	position: sticky;
	z-index: 999;
	top: 0;
	display: flex;
	align-items: center;
    justify-content: center;
}

.sticky-bar {
	background: #FFF;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
	width: 100%;
	height: 95px;
	display: flex;
	align-items: center;
    justify-content: center;
}

.header-wrapper {
	padding-top: 51px;
}

.nav-wrapper {
	
}

.menu {
	display: flex;
	align-items: center;
}

.menu ul {
  	width: 400px;
}


.menu li:nth-child(2),
.menu li:nth-child(4),
.menu li:first-child,
.footer__nav-list li:nth-child(2),
.footer__nav-list li:nth-child(4),
.footer__nav-list li:first-child {
	width: 62px;
}

.menu li:nth-child(3),
.footer__nav-list li:nth-child(3) {
	width: 72px;
}


.menu__logo-wrapper,
.footer__logo-wrapper{
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo-wrapper__text {
	letter-spacing: 1.5px;
}

.menu__list {
	display: flex;
	font-size: 15px;
	font-weight: 400;
	gap: 45px;
	color: #000;
	margin: 0 170px 0 146px;
}

.menu__item a {
	transition: all 0.2s ease; 
}

.menu__item a:hover {
	font-weight: 700;
	color: #6E9C9F;
}

.menu__phone-wrapper {
	display: flex;
	gap: 13px;
	align-items: center;
	position: relative;
	font-size: 15px;
}

.menu__phone-button {
	background: url('/img/header-telephone.svg');
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	transition: all 0.5s ease; 
}

.menu__phone-button_hover {
	position: absolute;
	opacity: 0;
	transform: translate(-20%, 3%);
	transition: all 0.5s ease; 
}

.menu__phone-button:hover .menu__phone-button_hover{
	opacity: 1;
}

.menu__phone-button:hover {
	background: none;
}

.menu__bucket-wrapper {
	display: flex;
}

.menu__number {
	margin-right: 59px;
}

.hamburger {
	display: none;
	position: sticky;
}

#hamburger__toggle {
	opacity: 0;
  }
  #hamburger__toggle:checked + .hamburger__btn > span {
	transform: rotate(45deg);
  }
  #hamburger__toggle:checked + .hamburger__btn > span::before {
	top: 0;
	transform: rotate(0deg);
  }
  #hamburger__toggle:checked + .hamburger__btn > span::after {
	top: 0;
	transform: rotate(90deg);
  }
  #hamburger__toggle:checked ~ .hamburger__box {
	left: 0 !important;
  }
  .hamburger__btn {
	position: absolute;
	top: 4.6%;
	left: 2%;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
  }
  .hamburger__btn > span,
  .hamburger__btn > span::before,
  .hamburger__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #000000;
	transition-duration: .25s;
  }
  .hamburger__btn > span::before {
	content: '';
	top: -8px;
  }
  .hamburger__btn > span::after {
	content: '';
	top: 8px;
  }
  .hamburger__box {
	display: block;
	position: fixed;
	top: 15%;
	left: -100%;
	width: 200px;
	height: 35%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: #F1EADC;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
	transition-duration: .25s;
	
  }
  .hamburger__item {
	width: 200px;
	display: block;
	padding: 12px 24px;
	color: #000000;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	transition-duration: .25s;
  }
  .hamburger__item:hover {
	background-color: #CFD8DC;
  }

.wrapper-modal {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
}

.wrapper-modal_active {
	display: flex;
}

.overlay-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: grey;
	opacity: 0.5;
}

.header-modal {
	padding: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	background-color: #fff;
}

.header-modal__content {
	display: flex;
}

.header-modal__success {
	display: none;
	flex-direction: column;
	justify-content: center;
}

.header-modal__success-close-wrapper {
	display: flex;
    justify-content: center;
}

.header-modal__success-close {
	display: flex;
	padding: 22px 50px;
	align-items: center;
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	justify-content: center;
	background: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
}

.header-modal__success-close:hover {
	background: #6E9C9F;
	color: #fff;
}

.modal-form__form_user,
.modal-form__form_adress {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-form__form_user-title,
.modal-form__form_adress-title,
.modal-form__form_comments-title {
	margin-bottom: 47px;
	font-size: 25px;
	text-align: center;
}

.modal-form__form_user-item,
.modal-form__form_adress-item,
.modal-form__form_comments-item {
	display: flex;
	flex-direction: column;
	color: #868686;
	border-bottom: 1px solid black;
	width: 350px;
}

.modal-form__form_user-item:nth-child(n+3),
.modal-form__form_adress-item:nth-child(n+3) {
	margin-top: 35px;
}

.modal-form__form_item {
	font-size: 17px;
	margin-bottom: 16px;
	font-weight: 500;
}

.modal-form__form_adress {
	margin: 81px 0;
}

.modal-form__form_comments {
	display: flex;
    flex-direction: column;
}

.modal-form__form_comment {
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}

.modal-form__form_comments-item {
	resize: none;
	font-size: 17px;
	font-weight: 500;
	border: 0;
	border-bottom: 1px solid black;
	font-family: Raleway;
	line-height: 140%; /* 23.8px */
	letter-spacing: 0.34px;
	margin: 35px 0;
}

.modal-form__form_comments-item:focus {
	outline: 0;
	color: black;
}

.modal-form__submit {
	display: flex;
	cursor: pointer;
	padding: 22px 50px;
	align-items: center;
	background: #6E9C9F;
	color: #fff;
	transition: all 0.5s ease;
	font-family: Raleway;
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 138.9%; /* 23.613px */
	letter-spacing: 0.34px;
	padding: 22px 108px;
	margin-top: 35px;
  }

  .modal-form__submit:hover {
    background: #509498;
}

.modal-form__form_submit-notification {
	display: flex;
	padding: 30px 76px;
	align-items: center;
	gap: 10px;
	background: #F1EADC;
	width: 437px;
	margin-top: 62px;
	justify-content: center;
}

.modal-window__close-btn {
	position: absolute;
	right: 6%;
	top: 6%;
	background: url('/img/modal-close.svg');
	width: 16px;
	height: 15px;
	cursor: pointer;
}

/* Offer Main*/

.offer {
    padding-top: 110px;
}

.offer__title {
    font-size: 55px;
}

.offer__breadcrumbs-wrapper {
    display: flex;
    margin: 26px 0 0 0;
    gap: 13px;
	padding-bottom: 84px;
}

.offer__breadcrumb:last-child {
    color: #909090;
}


/* Cart */

.cart {
	padding: 130px 0;
	overflow: hidden;
}

.cart__titles-wrapper {
	display: flex;
	border-bottom: 1px solid #CCCCCC;
	font-size: 20px;
}

.cart__title {
	padding-bottom: 26px;
}

.cart__title:nth-child(1) {
	margin-right: 416px;
}

.cart__title:nth-child(2) {
	margin-right: 139px;
}

.cart__title:nth-child(3) {
	margin-right: 167px;
}

.cart__product-wrapper {
	margin: 49px 0 77px;
	display: flex;
	align-items: center;
}

.cart__product-cancel {
	background: url('/img/cart/cart-x.svg');
	width: 14px;
	height: 14px;
	margin-right: 45px;
}

.cart__image {
	width: 125px;
	height: 179px;
}

.cart__product-text {
	margin: 0 134px 0 36px;
}

.cart__count {
	font-size: 20px;
	font-weight: 400;
	display: flex;
	width: 47px;
	padding: 8px 0px 11px 0px;
	justify-content: center;
	align-items: center;
	border: 1px solid #AFAFAF;
	margin: 0 238px 0 151px;
}

.cart__btn-wrapper {
	display: flex;
	align-items: flex-end;
	margin-bottom: 89px;
}

.cart__btn {
	display: inline-flex;
	padding: 22px 50px;
	align-items: center;
	border: 1px solid #6E9C9F;
	color: #6E9C9F;
	transition: all 0.5s ease;
}

.cart__btn:nth-child(2) {
	margin: 0 337px 0 16px;
}

.cart__btn:hover {
	background: #6E9C9F;
	color: #fff;
}

.cart__input-wrapper {
	display: flex;
	flex-direction: column;
	color: #868686;
	border-bottom: 1px solid black;
}

#coupon {
	width: 255px;
	font-size: 17px;
	margin-bottom: 16px;
}



.cart__summary-wrapper {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
}

.cart__total-wrapper {
	display: flex;
	margin-bottom: 28px;
	gap: 20px;
	margin-right: 38%;
}

.cart__result-wrapper {
	display: flex;
	gap: 15px;
}

.cart__result {
	display: flex;
	display: inline-flex;
	padding: 16px 51px 17px 31px;
	align-items: center;
	gap: 69px;
	background: #F1EADC;
	font-size: 25px;
}

.cart__result-btn {
	display: inline-flex;
	padding: 22px 50px;
	align-items: center;
	background: #6E9C9F;
	color: #fff;
	transition: all 0.5s ease;
}

.cart__result-btn:hover {
    background: #509498;
}




/* Footer */

.footer {
	padding: 104px 0 101px;
	background: #F1EADC;
	font-weight: 400;
	font-size: 13px;
}

.footer-wrapper {
	display: flex;
}

.footer__privacy-wrapper {
	display: flex;
	flex-direction: column;
}

.footer__logo-wrapper {
	margin-bottom: 70px;
	font-size: 17px;
}

.footer__privacy-links {
	display: flex;
	flex-direction: column;
	gap: 6px;
	
}

.footer__nav-wrapper {
	margin: 0 267px 0 81px;
}

.footer__nav-list {
	display: flex;
	font-size: 15px;
	
	gap: 45px;
	color: #000;
}

.nav-list__item a {
	transition: all 0.2s ease; 
}

.nav-list__item a:hover {
	font-weight: 700;
	color: #6E9C9F;
}

.footer__assortment-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 39px 0 0 107px;
}

.footer__contacts-wrapper {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	align-items: flex-end;
}

.footer__contacts-number {
	margin-bottom: 9px;
}

.footer__social {
	display: flex;
	gap: 12px;
	margin: 30px 0;
}

.footer__social-item {
	display: flex;
}

.footer__social-item_instagram {
	background: url('/img/footer-instagram.svg');
	width: 22px;
	height: 22px;
}

.footer__social-item_facebook {
	background: url('/img/footer-facebook.svg');
	width: 21px;
	height: 21px;
}

.footer__social-item_twitter {
	background: url('/img/footer-twitter.svg');
	width: 22px;
	height: 22px;
}

.footer__cards {
	background: url('/img/footer-cards.png');
	width: 68px;
	height: 22px;
}


/* Отзывчивость */


/* Large: 992px - 1199px */
@media (max-width: 1199px) {
	.container {
		width: 960px;
	}
    .menu__list {
		margin: 0 110px 0 66px;
	}
	.footer__nav-wrapper {
		margin: 0 133px 0 81px;
	}
	


	.cart__title:nth-child(3) {
		margin-right: 146px;
	}
	.cart__title:nth-child(1) {
		margin-right: 390px;
	}
	.cart__product-text {
		 margin: 0 120px 0 24px; 
	}
	.cart__count {
		margin: 0 225px 0 147px;
	}
	.cart__btn:nth-child(2) {
		margin: 0 190px 0 16px;
	}
	.cart__total-wrapper {
		margin-right: 44%;
	}
	
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
	.container {
		width: 720px;
	}
	.menu__list {
		display: none;
	}
	.menu {
		font-size: 15px;
		position: relative;
		left: 86px;
	}
	.menu ul,
	.menu__number {
		font-size: 13px;
	}
	.menu__number {
		margin-right: 150px;
	}
	.hamburger {
		display: block;
	}
	.hamburger__box {
		height: auto;
		padding: 35px 0;
	}
	.hamburger__btn {
		top: auto;
    	left: auto;
		transform: translate(-1450%, 32%);
	}
	.menu ul {
		width: 200px;
	}
	.menu__logo-wrapper {
		margin-right: 50px;
	}
	.header-wrapper {
		padding-top: 35px;
	}
	.footer {
		padding: 70px 0 50px;
	}
	.footer__nav-wrapper {
		display: none;
	}
	.footer-wrapper {
		justify-content: space-between;
		margin: 0 30px;
	}
	.offer__title {
		font-size: 45px;
	}
	.offer__breadcrumbs-wrapper {
		font-size: 15px;
		padding-bottom: 0;
	}
    

	.cart__title {
		font-size: 15px;
	}
	.cart__title:nth-child(3) {
		margin-right: 68px;
	}
	.cart__title:nth-child(1) {
		margin-right: 349px;
	}
	.cart__title:nth-child(2) {
		margin-right: 90px;
	}
	.cart__product-text {
		 margin: 0 70px 0 24px; 
	}
	.cart__count {
		margin: 0 110px 0 96px;
	}
	.cart__btn:nth-child(2) {
		margin: 0 62px 0 16px;
	}
	.cart__total-wrapper {
		margin-right: 46%;
	}
	.cart__product-wrapper {
		font-size: 15px;
	}
	.cart__btn {
		padding: 20px 30px;
	}
	.cart__btn-wrapper {
		font-size: 15px;
	}
	#coupon {
		font-size: 15px;
	}
	.cart__result-btn {
		padding: 20px 42px;
		font-size: 15px;
	}

	.cart__result {
		display: flex;
		display: inline-flex;
		padding: 16px 51px 17px 31px;
		align-items: center;
		gap: 40px;
		background: #F1EADC;
		font-size: 20px;
	}
	.modal-form__submit {
		padding: 25px 111px;
		font-size: 16px;
	}
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
	.container {
		width: 540px;
	}
	.menu {
		left: 50px;
	}
	.menu__number {
		margin-right: 53px;
	}
	.hamburger__btn {
		top: auto;
    	left: auto;
		transform: translate(-1150%, 38%);
	}

	.cart {
		padding: 90px 0;
	}

	.cart__title:nth-child(3) {
		margin-right: 33px;
	}
	.cart__title:nth-child(2) {
		margin-right: 40px;
	}
	.cart__title:nth-child(1) {
		margin-right: 295px;
	}
	.cart__product-text {
		 margin: 0 32px 0 24px; 
	}
	.cart__count {
		margin: 0 70px 0 40px;
	}
	.cart__btn:nth-child(2) {
		margin: 0 30px 0 16px;
	}
	.cart__total-wrapper {
		margin-right: 54%;
	}
	.cart__input-wrapper {
		width: 200px;
	}
	.cart__btn {
		padding: 15px 20px;
		font-size: 12px;
	}
	#coupon {
		font-size: 12px;
	}
	.cart__title {
		font-size: 12px;
	}
	.cart__product-wrapper {
		font-size: 12px;
	}
	.cart__count {
		font-size: 15px;
		font-weight: 400;
		display: flex;
		width: 38px;
		padding: 8px 0px 11px 0px;
	}
	.cart__result {
		
		padding: 16px 51px 17px 31px;
		
		gap: 20px;
		
		font-size: 17px;
	}
}

/* Extra small: 320px - 575px */
@media (max-width: 575px) {
	.container {
		width: auto;
		padding: 0 15px;
	}

	.menu {
		
		left: 158%;
	}
	.menu__number {
		margin-right: 0px;
		display: none;
	}
	.hamburger__btn {
		
		top: auto;
    	transform: translate(-972%, 37%);
	}
	.menu__logo-wrapper {
		margin-right: 0;
		display: none;
	}
	.offer {
		padding-top: 90px;
	}
	.offer__title {
		font-size: 40px;
		display: flex;
    	justify-content: center;
	}
	.offer__breadcrumbs-wrapper {
		font-size: 10px;
		display: flex;
    	justify-content: center;
	}
	.footer-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer__logo-wrapper {
		margin-bottom: 0px;
	}
	.footer__contacts-wrapper {
		align-items: center;
	}
	.footer__privacy-links {
		align-items: center;
		margin: 50px 0;
	}
	.footer__privacy-wrapper  {
		align-items: center;
	}
	.hamburger__item {
		font-size: 17px;
	}
	.modal-form__submit {
		font-size: 13px;
		padding: 22px 50px;
	}
	.modal-form__form {
		display: flex;
    	flex-direction: column;
    	align-items: center;
	}
	.modal-form__form_user-title {
		font-size: 17px;
		text-align: center;
	}
	.modal-form__form_item {
		font-size: 13px;
	}
	.modal-form__form_user-item {
		width: 220px;
	}
	.header-modal {
		padding: 60px 45px;
	}




	.cart__image {
		width: 68px;
		height: 100px;
	}
	.cart__title {
		font-size: 10px;
	}
	.cart__title:nth-child(3) {
		margin-right: 10px;
	}
	.cart__title:nth-child(2) {
		margin-right: 10px;
	}
	.cart__title:nth-child(1) {
		margin-right: 130px;
	}
	.cart__product-text {
		 margin: 0 0px 0 9px; 
	}
	.cart__total-wrapper {
		margin-right: 75px;
	}
	.cart__input-wrapper {
		width: 200px;
	}
	.cart__product-cancel {
		margin-right: -2px;
		transform: translate(-7px, 0px);
		z-index: -1;
	}
	.cart__count {
		padding: 5px 10px;
		width: 22px;
		font-size: 10px;
		margin: 0 48px 0 31px;
	}
	.cart__product-wrapper {
		font-size: 10px;
	}
	.cart__product-text {
		width: 50px;
	}
	.cart__product-price {
		position: relative;
    	left: 19px;
		z-index: -1;
	}
	.cart__input-wrapper {
		width: 147px;
	}
	.cart__btn {
		padding: 15px 20px;
		font-size: 12px;
	}
	.cart__btn:nth-child(2) {
		margin: 0;
		padding: 15px 22px;
	}
	.cart__btn-wrapper {
		align-items: center;
    	margin-bottom: 89px;
    	flex-direction: column;
		gap: 25px;
	}
	.cart__result-wrapper {
		flex-direction: column;
	}
	.cart__summary-wrapper {
		align-items: center;
	}
	
	.cart__amount-wrapper {
	
	}
}